.titulo__nombre {
    text-align: center ;
    font-size: 40px ;
    margin-top: 100px ;
    margin-bottom: 5px ;
    color: #000000 ;
    
}

.titulo__descripcion {
    text-align: center;
    font-size: 15px ;
    color: #000000 ;
    
}

.iconos {
    text-align: center;
    margin-top: 10px;


    &__facebook {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
    
    &__instagram {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

}








.preguntas {
    display: flex ;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    
}

.preguntas h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    
}

.preguntas p {
    margin-left: 250px;
    margin-right: 250px;
}

.form-label{
    margin-bottom: 10px;
    max-width: 400px;
}
.btn btn-primary{
    margin-top: 10px;
}


.galeria {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item{
        max-width: 500px;
        margin: 50px;
        text-align: center;
        border: 2px solid #35858B;
        padding: 20px;
    }
}











.servicios {

    display: flex;
    justify-content: space-around;

    margin: 200px;

    &__titulo {

        color: black;
        text-align: center;
        margin-top: 50px;
    }

    &__cristales {

        border: 2px solid #35858B;
        max-width: 800px;
        max-height: 800px;
        text-align: center;
        padding: 20px;
    
    
    
    }


    &__cristales a {
        color: #35858B;
        text-decoration: none;
    
    }

    & img {
        width: 200px;
        height: 200px;
    }

    &__accesorios {

        border: 2px solid #35858B;
        max-width: 800px;
        max-height: 800px;
        padding: 20px;
        text-align: center;
        margin-left: 100px;
    }

    &__accesorios a {
        color: #35858B;
        text-decoration: none;
    
    }
    

}


.cristales {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;

    &__item {

        border: 2px solid #35858B;
        max-width: 800px;
        max-height: 800px;
        padding: 20px;
        text-align: center;
        margin: 50px;
    
    }

    &__item a {
        padding: 20px;
        color: #35858B;
        margin: 30px;
        text-decoration: none;
    }   


    &__item img {
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
    
    }
}



.accesorios {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;


    &__item {

        border: 2px solid #35858B;
        max-width: 800px;
        max-height: 800px;
        padding: 20px;
        text-align: center;
        margin: 50px;
    
    }

    &__item a {
        padding: 20px;
        color: #35858B;
        margin: 30px;
        text-decoration: none;
    }  
    
    
    &__item img {
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
    
    }
    
}


.card {
    max-width: 300px ;
    padding: 1rem;
    text-align: center;

}


.pcontacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.formulario {
    width: 400px;
    margin: 30px;


}

.mapa {
    max-width: 300px;
    max-height: 300px;
}