.titulo__nombre {
    text-align: center ;
    font-size: 40px ;
    margin-top: 100px ;
    margin-bottom: 5px ;
    color: #050505 ;
    
}

.titulo__descripcion {
    text-align: center ;
    font-size: 15px ;
    color: #070707 ;
    
}

.iconos {
    text-align: center;
    margin-top: 10px;
}

.iconos__facebook {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.iconos__instagram {
    height: 30px;
    width: 30px;
    cursor: pointer;
}






.preguntas {
    display: flex ;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    
}

.preguntas h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    
}

.preguntas p {
    margin-left: 250px;
    margin-right: 250px;
}

.formulario {
    margin: 50px;
    
}

.formulario__contenido {
    border: 3px solid #35858B;
    max-width: 370px;
    
}

.formulario__item {
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    color: #35858B;
    

}


.galeria {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.galeria__item{
    max-width: 500px;
    margin: 50px;
    text-align: center;
    border: 2px solid #35858B;
    padding: 20px;
}





.servicios__titulo {

    color: black;
    text-align: center;
    margin-top: 50px;
}



.servicios {

    display: flex;
    justify-content: space-around;

    margin: 200px;

}

.servicios img {
    width: 200px;
    height: 200px;
}



.servicios__cristales {

    border: 2px solid #35858B;
    max-width: 800px;
    max-height: 800px;
    text-align: center;
    padding: 20px;



}

.servicios__cristales a {
    color: #35858B;
    text-decoration: none;

}


.servicios__accesorios {

    border: 2px solid #35858B;
    max-width: 800px;
    max-height: 800px;
    padding: 20px;
    text-align: center;
    margin-left: 100px;
}

.servicios__accesorios a {
    color: #35858B;
    text-decoration: none;

}


.cristales {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
}

.cristales__item {

    border: 2px solid #35858B;
    max-width: 800px;
    max-height: 800px;
    padding: 20px;
    text-align: center;
    margin: 50px;

}


.cristales__item a {
    padding: 20px;
    color: #35858B;
    margin: 30px;
    text-decoration: none;
}   

.cristales__item img {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;

}


.accesorios {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
}


.accesorios__item {

    border: 2px solid #35858B;
    max-width: 800px;
    max-height: 800px;
    padding: 20px;
    text-align: center;
    margin: 50px;

}

.accesorios__item a {
    padding: 20px;
    color: #35858B;
    margin: 30px;
    text-decoration: none;
}   


.accesorios__item img {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;

}

.card {
    max-width: 300px ;
    padding: 1rem;
    text-align: center;

}