.footer {
    border-top: 3px solid #35858B;
    background-color: #35858B;
    padding: 10px;
    height: 170px;
    position: relative ;
    top: 300px;
    
}

.footer__item {
    color: #ffffff;
    margin-bottom: 10px;
}