* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.header {
    border-bottom: 2px solid #35858B;
    background-color: #ffffff ;
    font-family: 'Roboto', sans-serif;
    
    &__contenido {
        margin: 0 auto ;
        height: 100% ;
    
        display: flex ;
        justify-content: space-between ;
        align-items: center;
    }
    

    &__img {

        width: 12rem ;
        height: 6rem ;
    
    }


}


.nav {
    
    padding: 10px ;

    &__lista {
        display: inline ;
    }

    &__item {
        display: inline ;
        margin-left: 2rem ;
    }


    &__item--oculto {
        display: none;
    }


    &__enlace {
        text-decoration: none ;
        color: #54BAB9 ;
        font-size: 20px;
        
    
    }

}


.btn-open-sidebar {
    display: none;
    
}








